{% extends 'base.html.twig' %}

{% block title %}Ajout Categorie{% endblock %}

{% block body %}
    <h2>Ajouter une Catégorie</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
