{# templates/Inscription/accueil.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<h1><span class='text-success'> Bienvenue à notre page d'accueil</span>
</h1> <h1>Your lucky number is {{ number }}</h1>
{% endblock %}